/* style.css for Odin Landing Page Project */

/* Variables */

:root {
    --black: #1F2937;
    --gray: #E5E7EB;
    --white: white;
    --white-title: #F9FAF8;
    --white-text: #E5E7EB;
    --blue: #3882F6;
    --thin: 8px;
    --med: 20px;
    --thick: 30px;
    --thicker: 60px;
}

/* General formatting  and resets */

*, *::before, *::after {
    box-sizing: inherit;
  }

* {
    color: inherit;
}

h1,
h2,
p {
    padding: 0;
    margin: 0; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    font-style: normal;
    text-decoration: none;
}

/* Body */

body {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/* Structure */

body > div > div {
    max-width: 1024px;
    margin: auto;
    padding: var(--thin);
}

.header-section {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-weight: bold;
}

.header-navigation {
    display: flex;
    gap: var(--thin);
    justify-content: flex-end;
    align-items: center;
}

.banner-section {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: var(--thick)
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: var(--thin);
}

.banner-section img {
    width: 400px;
    height: 200px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--thick);
}

.info-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: var(--thick)
}

.info-box {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.info-box img {
    width: 200px;
    height: 200px;
    border: 5px solid var(--blue);
    border-radius: 15px;
}

.info-box p {
    text-align: center;
}

/* Quote section */

.quote-section {

}

/* Sign up section */

.signup-section {

}

/* Footer section */

.footer-section {

}

/* Extra spacing */

.banner-section,
.signup-section {
    padding: var(--thicker) 0;
}

.info-section {
    padding: var(--thick) var(--thicker) var(--thicker);
}

.quote-section {
    padding: var(--thicker);
}

/* Colors */

.header-band,
.banner-band,
.footer-band {
    background-color: var(--black);
}

.info-band,
.signup-band {
    background-color: var(--white);
}

.quote-band,
.banner-band figure {
    background-color: var(--gray);
}

.button {
    margin-right: auto;
    line-height: 2em;
    background-color: var(--blue);
    padding: 0 var(--med);
    border-radius: 8px;
    font-weight: bold;
}

.header-section,
.banner-section,
.signup-section,
.footer-section {
    color: var(--white-text);
}

.header-section title,
.banner-section title {
    color: var(--white-title);
}

.info-section,
.quote-section {
    color: var(--black);
}

.header-logo {
    font-size: 24px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}


