/* style.css for Odin Landing Page Project */

/* General: Variables, resets, general formats */

html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: stretch;    
    margin: 0;
}

:root {
    --dark-color: rgb(72, 85, 72);
    --gray: #d8e4d8;
    --light: white;
    --light-title: #d7e2cc;
    --light-text: #E5E7EB;
    --blue: #5171b4;
    --thin: 16px;
    --med: 30px;
    --thick: 48px;
    --thicker: 60px;
}

*, *::before, *::after {
    box-sizing: inherit;
  }

* {
    color: inherit;
}

p {
    padding: 0;
    margin: 0; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    font-style: normal;
    text-decoration: none;
}

.button {
    line-height: 2em;
    background-color: var(--blue);
    padding: 0 var(--med);
    border-radius: var(--thin);
    font-weight: bold;
}

/* Special fonts and colors */

.header-logo,
.banner-title,
.action-title {
    color: var(--light-title);
}

.banner-title {
    font-size: 48px;
    font-weight: 900;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.action-title, 
.header-logo {
    font-size: 24px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}

/* Bands structure */

.banner-band,
.info-band,
.quote-band,
.action-band {
    flex: 1 1 auto;
    display: flex;
}

.header-band,
.banner-band,
.footer-band {
    background-color: var(--dark-color);
    color: var(--light-text);
}

.info-band {
    background-color: var(--light);
    color: var(--dark-color);
}

.action-band {
    background-color: var(--light);
    color: var(--light-text);
}

.quote-band {
    background-color: var(--gray);
    color: var(--dark-color);
}

/* Sections within max width */

.header-section,
.banner-section,
.info-section,
.quote-section,
.action-section,
.footer-section {
    max-width: 1000px;
    margin: auto;
    padding: var(--thin);
}

.info-section {
    margin: var(--med) auto auto;
}

.footer-section {
    padding: var(--med);
    text-align: center;
}

/* Header section */

.header-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo {
    font-weight: bold;
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: var(--thin);
}

/* Banner section */

.banner-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    gap: var(--med)
}

.banner-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: var(--thin);
}

.banner-section .button {
    margin-right: auto;
}

.banner-section img {
    width: 300px;
    height: 150px;
}

/* Info section */

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--med);
}

.info-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: var(--med)
}

.info-box {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.info-box img {
    width: 200px;
    height: 200px;
    border: 5px solid var(--blue);
    border-radius: 15px;
}

.info-box p {
    text-align: center;
}

/* Quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--med);
}

.quote-box {
    max-width: 80%;
    margin: auto;
}

/* Action section */

.action-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--med);
}

.action-box {
    background-color: var(--blue);
    padding: var(--med) var(--thicker);
    border-radius: var(--thin);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: var(--med);
    flex-wrap: wrap;
}

.action-text {
    max-width: 600px;
}
.action-section .button {
    border: 3px solid var(--light-text);
}